/* 010 */
.header {
    text-align: center;
}


/* 010 */
.menu {
    font-size: 0;
}


/* 010 */
.menu__item {
    display: inline-block;
    font-size: 1rem;
    position: relative;
}

.menu__item:hover .menu-dropdown {
    display: block;
}

.menu-dropdown {
    display: none;
    position: absolute;
}

.menu__link,
.menu-dropdown__link {
    text-decoration: none;
}